{% extends "base.html" %}
{% block content %}
<h2>Projects</h2>

<p><a href="{{ url_for('projects_new') }}"><button>Add Project</button></a></p>

<table class="table table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th>ID</th><th>Name</th><th>Start</th><th>End</th><th>Dept</th><th>Summary</th><th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {% for r in rows %}
    <tr>
      <td>{{ r[0] }}</td>
      <td>{{ r[1] }}</td>
      <td>{{ r[2] }}</td>
      <td>{{ r[3] }}</td>
      <td>{{ r[4] }}</td>
      <td>{{ r[5] }}</td>
      <td>
        <a href="{{ url_for('projects_edit', project_id=r[0]) }}" class="btn btn-warning btn-sm">Edit</a>

        <form action="{{ url_for('projects_delete', project_id=r[0]) }}" method="post" style="display:inline;">
          <button class="btn btn-danger btn-sm" onclick="return confirm('Delete this project?');">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{{ url_for('projects_new') }}" class="btn btn-success">Add Project</a>

{% endblock %}
