{% extends "base.html" %}
{% block content %}

<h2 style="color: var(--primary-purple);">{{ title }}</h2>

<form method="POST">
    <div class="mb-2">
        <label class="form-label fw-semibold">Project Name</label>
        <input class="form-control" name="name" value="{{ project.name if project }}">
    </div>

    <div class="mb-2">
        <label class="form-label fw-semibold">Start Date</label>
        <input type="date" class="form-control" name="start_date" value="{{ project.start_date if project }}">
    </div>

    <div class="mb-2">
        <label class="form-label fw-semibold">End Date</label>
        <input type="date" class="form-control" name="end_date" value="{{ project.end_date if project }}">
    </div>

    <div class="mb-2">
        <label class="form-label fw-semibold">Department ID</label>
        <input class="form-control" name="dept_id" value="{{ project.dept_id if project }}">
    </div>

    <div class="mb-2">
        <label class="form-label fw-semibold">Summary</label>
        <textarea class="form-control" name="summary">{{ project.summary if project }}</textarea>
    </div>

    <button class="btn btn-primary mt-2">Save</button>
</form>

{% endblock %}
