{% extends "base.html" %}
{% block content %}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h2 style="color: var(--primary-purple);">Projects</h2>
    <a href="/projects/add" class="btn btn-primary">+ Add</a>
</div>

<table class="table table-hover shadow-sm">
    <thead>
    <tr>
        <th>ID</th><th>Name</th><th>Start</th><th>End</th><th>Dept</th><th>Actions</th>
    </tr>
    </thead>

    <tbody>
    {% for r in rows %}
    <tr>
        <td>{{ r.project_id }}</td>
        <td>{{ r.name }}</td>
        <td>{{ r.start_date }}</td>
        <td>{{ r.end_date }}</td>
        <td>{{ r.dept_id }}</td>

        <td>
            <a class="btn btn-sm btn-primary" href="/projects/edit/{{ r.project_id }}">Edit</a>
            <a class="btn btn-sm btn-danger" href="/projects/delete/{{ r.project_id }}">Delete</a>
        </td>

    </tr>
    {% endfor %}
    </tbody>

</table>

{% endblock %}
